<div class="modal modal-dark bg-dark" tabindex="-1" role="dialog" id="newTaskStatusModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task statuses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group mb-5">
          <% @task_statuses.each do |task_status| %>
          <li class="list-group-item"><%= task_status.name %></li>
          <% end %>
        </ul>
        <%= form_for :task_status, url: '/task_statuses', html: { class: 'form-horizontal'} do %>
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example Status" name="task_status[name]" required>
		  </div>
		  <div class="modal-footer">
	        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
		    <button type="submit" class="btn btn-outline-info">Save changes</button>
		  </div>
		<% end %>
      </div>
    </div>
  </div>
</div>
