<div class="modal modal-dark bg-dark" tabindex="-1" role="dialog" id="newProjectModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for :project, url: '/new', html: { class: 'form-horizontal'} do %>
		  <div class="form-group">
			<label for="formGroupExampleInput">Title</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example project" name="title" required>
		  </div>
		  <div class="form-group">
			<label for="formGroupExampleInput2">Description</label>
			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Example description.." name="description">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-outline-info">Save changes</button>
		  </div>
		<% end %>
      </div>
    </div>
  </div>
</div>
