<h1>Dashboard</h1>

<div class="row">
<div class="col-3">
  <img src="http://oi40.tinypic.com/vdgwnb.jpg">
</div>
<div class="col-8">
  <h3>Project Title</h3>
  <p>Project description here..</p>
  </div>
</div>
<div class="row">
<div class="col-3">
  <img src="http://oi40.tinypic.com/vdgwnb.jpg">
</div>
<div class="col-8">
  <h3>Project Title</h3>
  <p>Project description here..</p>
  </div>
</div>
<div class="row">
<div class="col-3">
  <img src="http://oi40.tinypic.com/vdgwnb.jpg">
</div>
<div class="col-8">
  <h3>Project Title</h3>
  <p>Project description here..</p>
  </div>
</div>
