<h1>Dashboard</h1>

<% @projects.each do |p| %>
<div class="row">
  <div class="col-3">
    <img src="http://oi40.tinypic.com/vdgwnb.jpg">
  </div>
  <div class="col-8">
    <h3><a href="/projects/12"><%= p.title %></a></h3>
    <p><%= p.description %></p>
  </div>
</div>
<% end %>
