<div class="row header-row px-5 py-5">
  <div class="col-12">
    <h1>Dashboard</h1>
  </div>
</div>
<!-- RECENT PROJECTS -->
<div class="row header-row px-5 py-3">
  <div class="col-12">
    <h2>Recent Projects</h2>
  </div>
</div>
<% @projects.each do |p| %>
<div class="row project-row px-5 py-3">
  <div class="col-12">
    <h3><a href="<%= project_path(p.id)%>"><%= p.title %></a></h3>
    <p><%= p.description %></p>
    <p>Created: <%= format_date_time(p.created_at) %></p>
  </div>
</div>
<% end %>
