<div class="row header-row px-5 py-5 well">
  <div class="col-10">
    <h1><%= @project.title %></h1>
    <p><%= @project.description %></p>
  </div>
  <div class="col-2">
    <form class="form-inline">
      <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= edit_project_path @project.id %>';">Edit</button>
      <button class="btn btn-outline-info" type="button" onclick="location.href = '<%= projects_path %>';">Close</button>
    </form>
  </div>
</div>
